{% extends 'base.html.twig' %}

{% block title %}Forbidden!{% endblock %}

{% block body %}

  <h1>Vous n'avez pas accès à cette section</h1>

  <a href="/">Revenir à l'accueil</a>
  
{% endblock %}


