body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

/* Utility Classes */

.text-hero {
  color: #21325b !important;
}

.bg-hero {
  background-color: #21325b !important;
}

.writer-image {
  width: 75px;
}

.team-badge {
  display: inline-block;
  width: 30px;
  height: 30px;
  /* border: 1px solid var(--bs-dark); */
  border-radius: 15px;

  margin-right: 10px;
}
