<div class="row mb-2">
  <div class="col bg-warning">
    <a class="link-secondary" href="{{ path('learn_index') }}">Accueil</a>
    <a class="link-secondary" href="{{ path('learn_tutorials') }}">Tutoriels</a>
    <a class="link-secondary" href="{{ path('learn_books')}}">Livres</a>
  </div>
</div>