<div class="row mb-2">
  <div class="col bg-warning p-2">
    <a class="btn btn-outline-primary" href="{{ path('learn_index') }}">Accueil</a>
    <a class="btn btn-outline-primary" href="{{ path('learn_tutorials') }}">Tutoriels</a>
    <a class="btn btn-outline-primary" href="{{ path('learn_books')}}">Livres</a>
  </div>
</div>