{% extends "base.html.twig" %}

{% block title %}Learn | Tutoriels{% endblock %}




{% block body %}
  
  {% include "learn/_learn_navigation.html.twig" %}

  <h1>Tutoriels</h1>

  <p>{{ test }}</p>

{% endblock %}