<div class="row mb-2">
  <div class="col bg-secondary p-2">
    <a class="btn btn-outline-light" href="{{ path('back_index') }}">Back</a>
    <a class="btn btn-outline-light" href="{{ path('back_person') }}">Personnes</a>
    <a class="btn btn-outline-light" href="{{ path('back_person_add') }}">Ajouter Personne</a>

  </div>
</div>