{% extends 'base.html.twig' %}

{% block title %}Back Office{% endblock %}

{% block body %}

  {{ include('back/_back_navigation.html.twig') }}


  {% block back_content %}

    <h4>Accueil du Back Office</h4>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci, amet! Cupiditate veniam, mollitia vel cum ratione in accusamus vero voluptatibus id tempore laborum illo nobis explicabo recusandae, assumenda eum blanditiis.</p>

  {% endblock %}

  

{% endblock %}
