{% extends "back/index.html.twig" %}

{% block title %}Liste Personne{% endblock %}

{% block back_content %}

  <h4>Liste des personnes</h4>


  <div class="row">
    {% for p in persons %}

      <div class="col-4 mb-2">
        <div class="card p-2">
          <small class="text-info">{{ p.id }}</small>
          <h5>{{ p.lsName ~ ' ' ~ p.fsName }}</h5>
          <p>{{ p.notes }}</p>

            {% if p.confirmed %} 
              <p class="fw-bold text-success">confirmé</p>
            {% else %}
              <p class="fw-bold text-danger">en attente</p>
            {% endif %}

            <a href="{{ path("back_person_edit", { 'id': p.id }) }}" class="btn btn-outline-warning w-50 mb-2">Modifier</a>
            <a href="#" class="btn btn-outline-danger w-50 mb-2">Supprimer</a>

        </div>
      </div>

    {% endfor %}
  </div>


{% endblock %}